html, body {
	background-color: #304d6d;
	margin: 0;
	font-size: 18px;
}

div {
	border-radius: 5px;
}

a {
	color: #28405a;
	font-size: .9rem;
	text-decoration: none;
}

a:hover {
	color: #4a7db0;
}

.content {
	background-color: #a7cced;
	text-align: center;
}

.grid-container {
	padding: 5px;
	background-color: #82a0bc;
	display: grid;
	grid-gap: 5px;
	width: 100%;
}

.grid-header {
	font-size: 6rem;
	font-weight: bold;
}

.grid-nav {

}

.grid-col {
	float: left;
	grid-column-gap: 5px;
	margin: 2px;
}

.nav-button {
	font-size: 1rem;
	background-color: #a7cced;
	border: none;
	padding: 10px;
	width: 100%;
}

.nav-button:hover {
	background-color: #85bdf0;
}

.drop {
	display: none;
	overflow: hidden;
	float: none;
}

.drop a {	
	padding: 5px;
}

.eCol {
	align-content: center;
	float: left;
}

.sub {
	width: 45%;
}

.grid-main {

}

.grid-footer {

}

/**/

#hiddenContent {
	z-index: 2;

	background-color: #82a0bc;

	position: fixed;
	bottom: 0;
	left: 0;
}