* {
	box-sizing: border-box;
}

html, body {
	background-color: #304d6d;
	margin: 0;
}

/* Consider
https://www.w3schools.com/css/css_website_layout.asp*/

.table {
	border-radius: 5px;
}

#contentContainer {
	background-color: #545e75;

	margin: 5px auto;
	padding: 5px;

}

#titleBanner, #mainContent {
	/*background-color: #87817C;*/
}

#titleBanner {
	background-color: #a7cced;
	
	width: 100%;
}

#titleBanner h1 {
	font-size: 10vw;
	font-size: 10vh;
	text-align: center;
	margin: 0;
}

#button {
	background-color: #9fc9ee;
}

#mainContent {
	background-color: #63adf2;
}

#hiddenContent {
	z-index: 2;

	background-color: #82a0bc;

	position: fixed;
	bottom: 0;
	left: 0;

}

.ROW {
	/*background-color: #85bdf0;*/
}

#topBar {
}

#middleBar {
}

#bottomBar {
}

.COL {
	float: left;
	/*background-color: #9fc9ee;*/
}

#leftCol {
}

#centerCol {
}

#rightCol {
}


