html, body {
	font-size: 16px;
	background-color: #304d6d;
	margin: 0;
}

.table {
	border-radius: 5px;
	border: solid 1px black;
}

#contentContainer {
	background-color: #82a0bc;

	margin: 5px auto;
	padding: 5px;

}

#titleBanner{
	background-color: #a7cced;
	font-size: 4rem;
	text-align: center;
	font-weight: bold;
}

.ROW {
	margin: 5px auto;

	background-color: #a7cced;
}

/* Navigation */

#topBar {
	height: 100%;
}

.collapsible {
	padding: 18px;
	
	border: none;
	float: left;
	display: block;
	
	text-align: left;
	outline: none;

	background-color: #a7cced;
}

.active, .collapsible:hover {
	background-color: #9fc9ee;
}

.collContent {
	padding: 0 18px;
	display: none;
	float: all;
	overflow: hidden;
}


#middleBar, #bottomBar {
	text-align: center;
}

#hiddenContent {
	z-index: 2;

	background-color: #82a0bc;

	position: fixed;
	bottom: 0;
	left: 0;
}

